[submodule "external/smhasher"]
	path = external/smhasher
	url = https://github.com/aappleby/smhasher.git
[submodule "external/cmd_line_parser"]
	path = external/cmd_line_parser
	url = https://github.com/jermp/cmd_line_parser.git
